main{
    background-color: snow;
    display: grid;
    grid-template-columns:300px 3fr;
    grid-template-areas: "navbar body";
}
#main{
    grid-area: body;
}
#dropdown{
    position: fixed;
    margin-top: 0;
}
.span{
    display: none;
    background-color: darkslateblue;
    width: 30px;
    height: 5px;
    margin: 0 0 2px 0;
    border-radius: 2em;
    cursor: pointer;
}
#navbar{
    grid-area: navbar;
    border-right: 3px solid gray;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
}
#navbar ul{
    list-style: none;
    margin-top: 0;
   padding: 0;
    height: 100%;
}
#navbar ul li{
    font-size: 120%;
    height: 5%;
    border-bottom: 1px solid gray;
  padding: 5% 0 0 5%;
}
#navbar ul li:hover{
    background-color: wheat;
}
#navbar ul li a{
    color: gray;
    text-decoration: none;
}
#navbar header{
    font-size: 180%;
    height: 5%;
    padding: 5%;
    border-bottom: 1px solid gray;
}
header{
    font-size: 200%;
    color: rebeccapurple;
}
h1{
    color: darkslateblue;
    font-size: 250%;
}
code{
    display: block;
    color: cornflowerblue;
    background-color: ghostwhite;
}
@media screen and (max-width: 800px),
handheld and (max-width: 800px),
screen and (max-device-width: 800px){
    main{
        display: block;
    }
    #navbar{
        display: none;
        background-color: darkslateblue;
        border-right: 3px solid gray;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }
    #navbar header{
        color: ghostwhite;
    }
    #dropdown:hover #navbar{
        display: block;
    }
    #navbar ul li a{
        color: white;
        text-decoration: none;
    }
    #navbar ul li:hover{
        background-color: slateblue;
    }
    .span{
        display: block;
    }

}